name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: build
        run: yarn && yarn run dist
      - name: deploy
        run: |
          cd dist

          # 如果是发布到自定义域名
          # echo 'www.example.com' > CNAME

          git init
          git config user.email "purocean@gmail.com"
          git config user.name "purocean"
          git add -A
          git commit -m 'deploy'

          git push -f https://purocean:${{ secrets.GIT_ACCESSTOKEN }}@github.com/purocean/purocean.github.io.git master
